html {
  border: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

main {
  display: flex;
  height: 80%;
  flex-direction: column;
}

h1 {
  display: flex;
  justify-content: center;
}

.repos-section,
.events-section,
.hooks-section,
.issues-section,
.members-section,
.public-members-section {
  width: 100%;
  border: solid 1px blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.repos-id-div,
.events-id-div,
.hooks-id-div,
.issues-id-div,
.members-id-div,
.public-members-id-div {
  display: flex;
  width: 90%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.individual-repo,
.individual-event,
.individual-hook,
.individual-issue,
.individual-member,
.individual-public-members {
  margin: 0 2%;
}

.buttons-holder {
  display: flex;
  justify-content: space-around;
  margin: 1%;
}

.data-btn-section {
  display: flex;
  justify-content: center;
  width: 17%;
}

.get-data-btn {
  cursor: pointer;
}

.verify-dates-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
}

.verify-dates-btn {
  align-self: center;
  cursor: pointer;
  width: 50%;
}

.verify-result-div {
  align-self: center;
  width: 58%;
}

.compare-lengths-btn {
  cursor: pointer;
}

.compare-lengths-section {
  align-items: center;
  display: flex;
  flex-direction: column;
}